.footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 100px);
    height: 20vh;
    color: white;
    padding: 50px;
    margin-top: 50px;
}

.info{
    display: flex;
    flex-direction: column;
  }

.info a {
    color: white;
    opacity: 0.7;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 10px;
}

.info a:hover {
    opacity: 1;
}

@media (max-width: 414px){
    .footer{
        flex-direction: column;
        height: 100%;
    }

    .info{
        padding: 10px 0px;
    }

}


/* iPad Air */
@media (max-width: 820px){
    .footer{
        flex-direction: column;
        height: 100%;
        text-align: center;
    }

    .info{
        padding: 10px 0px;
    }
}