.gallery-grid{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 100px;
}

.gallery-grid img{
    width: 25%;
}

.gallery-grid img:hover{
    cursor: pointer; 
    transition: all 0.3s ease;
    transform: scale(1.2); 
    -webkit-box-shadow: 0px 5px 18px 10px rgba(63,63,63,0.18); 
    box-shadow: 0px 5px 18px 10px rgba(63,63,63,0.18);
}


.gallery{
    text-align: center;
}

@media (max-width: 414px){
    .gallery-grid{
        padding: 40px 0px;
    }
}